<app-header></app-header>

<div class="container mx-auto mt-4">
    <div class="row">
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
    <img src=  "assets/burger-1.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">WeldDAR small max</h5>
          <h6 class="card-subtitle mb-2 text-muted">42dt</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
           <!-- <a  (click)=" redurective2()"Order now! class="btn btn-primary mr-2"><i class="fas fa-link"></i>  (click)=" redurective2()"Order now!</a> -->
           <button type="button" class="btn btn-outline-primary" (click)=" redurective2()">Order now!</button>
          </div>
    </div>
      </div>    
         <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img
    src=  "assets/burger-1.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">WeldDAR small max</h5>
          <h6 class="card-subtitle mb-2 text-muted">42dt</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
     
           <a href="#" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Order now!</a>
      
    </div>
    </div>
      </div>    
            <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img
    src=  "assets/burger-1.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">WeldDAR small max</h5>
          <h6 class="card-subtitle mb-2 text-muted">42dt</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
           <a href="#" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Order now!</a>
    </div>
    </div>
    </div>
      
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
    <img
    src=  "assets/burger-2.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">WeldDAR pro Max</h5>
          <h6 class="card-subtitle mb-2 text-muted">60dt</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Order now!</a>
    </div>
    </div>
      </div>    
         <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img
    src=  "assets/burger-3.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">WeldDAR pro max X2</h5>
          <h6 class="card-subtitle mb-2 text-muted">66dt</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
           <a href="#" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Order now!</a>
    </div>
    </div>
      </div>    
            <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img
    src=  "assets/burger-4.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">WELDDAR PRO MAX WOW</h5>
          <h6 class="card-subtitle mb-2 text-muted">70dt</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
           <a href="#" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Order now!</a>
    </div>
    </div>
    </div>
      
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
    <img
    src=  "assets/burger-1.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">WeldDAR small max</h5>
          <h6 class="card-subtitle mb-2 text-muted">42dt</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Order now!</a>
    </div>
    </div>
      </div>    
         <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img
    src=  "assets/burger-1.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">WeldDAR small max</h5>
          <h6 class="card-subtitle mb-2 text-muted">42dt</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
           <a href="#" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Order now!</a>
    </div>
    </div>
      </div>    
            <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img
    src=  "assets/burger-1.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">WeldDAR small max</h5>
          <h6 class="card-subtitle mb-2 text-muted">42dt</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Order now!</a>
    </div>
    </div>
    </div>
      
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
    <img
    src=  "assets/burger-1.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">WeldDAR small max</h5>
          <h6 class="card-subtitle mb-2 text-muted">42dt</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Order now!</a>
    
    </div>
    </div>
      </div>    
         <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img src=  "assets/burger-1.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">WeldDAR small max</h5>
          <h6 class="card-subtitle mb-2 text-muted">42dt</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
           <a href="#" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Order now!</a>
    </div>
    </div>
      </div>    
            <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img src=  "assets/burger-1.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">WeldDAR small max</h5>
          <h6 class="card-subtitle mb-2 text-muted">42dt</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
           <a href="#" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Order now!</a>
    </div>
    </div>
    </div>
  </div>
    </div>
    <app-footer></app-footer>