
  <div class="body">
    <div>
        <img src="assets/fast.png" alt="Image d'un aliment" class="img1" >
      <div class="container">
        <div class="h1" >
            <div class="container">
               
            </div>
           <div class="container"> <div class="description">
            <h1  >Weld Dar :</h1>
            <h2>welcom in your home :</h2>
            <p>
              We offer a wide selection of restaurants, cuisines, and budgets. You can find the perfect food for your craving, whether you're looking for pizza, pasta, curry, or salad.
            </p>
            <p>
              Our service is simple and quick. It takes just a few clicks to order your food and have it delivered to your door.
            </p>
            <p>
              
              <button type="button" class="btn btn-outline-primary" (click)=" redurective2()">Order now!</button>
              
              <img src="assets/saltaaBurgeur.png" alt="Image d'un aliment" class="img2"  >
            </p>
          </div>
        </div></div> 
             

        </div>

    </div>
</div>
